In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('itineraries.csv', nrows=507228, usecols=['flightDate', 'startingAirport', 'destinationAirport', 'totalFare', 'segmentsDepartureTimeRaw', 'segmentsArrivalTimeRaw'])

In [3]:
df

,flightDate,startingAirport,destinationAirport,totalFare,segmentsDepartureTimeRaw,segmentsArrivalTimeRaw
0,2022-04-17,ATL,BOS,248.6,2022-04-17T12:57:00.000-04:00,2022-04-17T15:26:00.000-04:00
1,2022-04-17,ATL,BOS,248.6,2022-04-17T06:30:00.000-04:00,2022-04-17T09:00:00.000-04:00
2,2022-04-17,ATL,BOS,248.6,2022-04-17T11:35:00.000-04:00,2022-04-17T14:05:00.000-04:00
3,2022-04-17,ATL,BOS,248.6,2022-04-17T13:59:00.000-04:00,2022-04-17T16:31:00.000-04:00
4,2022-04-17,ATL,BOS,248.6,2022-04-17T09:59:00.000-04:00,2022-04-17T12:33:00.000-04:00
...,...,...,...,...,...,...
507223,2022-06-03,SFO,PHL,591.6,2022-06-03T07:00:00.000-07:00||2022-06-03T14:1...,2022-06-03T13:24:00.000-05:00||2022-06-03T17:2...
507224,2022-06-03,SFO,PHL,627.2,2022-06-03T08:14:00.000-07:00||2022-06-03T19:5...,2022-06-03T13:48:00.000-05:00||2022-06-03T23:2...
507225,2022-06-03,SFO,PHL,638.1,2022-06-03T09:00:00.000-07:00||2022-06-03T12:4...,2022-06-03T10:44:00.000-07:00||2022-06-03T18:5...
507226,2022-06-03,SFO,PHL,678.6,2022-06-03T08:14:00.000-07:00||2022-06-03T15:1...,2022-06-03T13:48:00.000-05:00||2022-06-03T18:5...
507227,2022-06-03,SFO,PHL,678.6,2022-06-03T06:35:00.000-07:00||2022-06-03T15:1...,2022-06-03T12:12:00.000-05:00||2022-06-03T18:5...

In [4]:
df['segmentsDepartureTimeRaw'] = df['segmentsDepartureTimeRaw'].apply(lambda x: x.split('||')[0])
df['segmentsArrivalTimeRaw'] = df['segmentsArrivalTimeRaw'].apply(lambda x: x.split('||')[-1])

In [5]:
df

,flightDate,startingAirport,destinationAirport,totalFare,segmentsDepartureTimeRaw,segmentsArrivalTimeRaw
0,2022-04-17,ATL,BOS,248.6,2022-04-17T12:57:00.000-04:00,2022-04-17T15:26:00.000-04:00
1,2022-04-17,ATL,BOS,248.6,2022-04-17T06:30:00.000-04:00,2022-04-17T09:00:00.000-04:00
2,2022-04-17,ATL,BOS,248.6,2022-04-17T11:35:00.000-04:00,2022-04-17T14:05:00.000-04:00
3,2022-04-17,ATL,BOS,248.6,2022-04-17T13:59:00.000-04:00,2022-04-17T16:31:00.000-04:00
4,2022-04-17,ATL,BOS,248.6,2022-04-17T09:59:00.000-04:00,2022-04-17T12:33:00.000-04:00
...,...,...,...,...,...,...
507223,2022-06-03,SFO,PHL,591.6,2022-06-03T07:00:00.000-07:00,2022-06-03T17:28:00.000-04:00
507224,2022-06-03,SFO,PHL,627.2,2022-06-03T08:14:00.000-07:00,2022-06-03T23:27:00.000-04:00
507225,2022-06-03,SFO,PHL,638.1,2022-06-03T09:00:00.000-07:00,2022-06-04T00:20:00.000-04:00
507226,2022-06-03,SFO,PHL,678.6,2022-06-03T08:14:00.000-07:00,2022-06-03T18:51:00.000-04:00
507227,2022-06-03,SFO,PHL,678.6,2022-06-03T06:35:00.000-07:00,2022-06-03T18:51:00.000-04:00

In [6]:
df.to_csv('treated_data.csv')